<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>
   <p>
    Splurty was built by <a target="_blank" href="https://github.com/ceceliahavens/">Cecelia</a>  A woman on a mission to teach the world about the beauty and joy of tacos. 
  </p>
  <br />
  <p>
    With her trusty husband Los Havens and her mighty son the Kraken, she intends to summons the power of Cthulhu, to bring forth a taco storm upon this planet. 
  </p>
  <p>
    Cecelia is learning all that she can about web development from <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a> so she can build a platform to spread her message of Rice and Beans to all who shall listen.
  </p>
  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'Cecelia.jpg', :class => 'img-responsive' %>
  </div>
  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class "text-center">Cecelia Havens</h2>
    <br />
    <p>
      Cecelia Havens has a very impressive background and resume but is way more interested in talking about tacos than all of her fancy degrees and accolades..(yawn)
    </p>
  </div>
</div>
 <br class="clear" />
<br />
<br />
<br />
<br />

</div>
